{% extends 'base.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<span class="login100-form-title p-b-51">
          Seja bem vindo professor {{ teacher["name"] }}<br>
				</span>

        {% for clas in classes %}
           {{ clas["name"] }} | {{ clas["room"] }}
        {% endfor %}

				<div class="container-login100-form-btn m-t-17">
					<button class="login100-form-btn">
						<a class="login100-form-btn" href="/logout">Sair</a>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
