{% extends 'base.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<span class="login100-form-title p-b-51">
          Seja bem vindo professor {{ teacher["name"] }}<br>
				</span>

        <p>Selecione uma turma para mais detalhes:</p>

        {% for clas in classes %}
          <a class="txt1" href="/register/diary" }}">
            <div class="card">
              <h3>Criar nova chamada</h3>
            </div>
          </a>
          <a class="txt1" href="/class/{{ clas["_id"] }}">
            <div class="card">
              <h3>Turma {{ clas["name"] }} | Sala {{ clas["room"] }}<h3>
              <p>Total de alunos: {{ clas["student_count"] }}</p>
            </div>
          </a>
        {% endfor %}

				<div class="container-login100-form-btn m-t-17">
					<button class="login100-form-btn">
						<a class="login100-form-btn" href="/logout">Sair</a>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
