{% extends 'base.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/login{{ '' if not next else '?next='+ next }}">
					<span class="login100-form-title p-b-51">
						Login
					</span>

          <label for="email">Email: </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "O email é obrigatório">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>

          <label for="senha">Senha: </label>
					<div class="wrap-input100 validate-input m-b-16" data-validate = "A senha é obrigatória">
            <span class="focus-input100"></span>
						<input class="input100" type="password" name="password" placeholder="Senha">
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div>
							<a href="{{ url_for('register', sign_type='teacher')}}" class="txt1">
								Criar conta
							</a>
						</div>
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
